[user]
	name = Shaun Haber
	email = srhaber@gmail.com

[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f

[diff]
[color]
  ui = auto

[alias]
  amend = commit --amend
  br = branch -vv
  ci = commit --verbose
  co = checkout
  dc = diff --cached
  di = diff
  pom = push origin master
  st  = status -sb
  ds = diff --stat=160,120
  dh1 = diff HEAD~1


  # Logging aliases
  l = "!source ~/.githelpers && pretty_git_log"
  la = !git l --all
  lr = !git l -30
  head = !git l -1
  h = !git head
  hp = "!source ~/.githelpers && show_git_head"
  b = "!. ~/.githelpers && pretty_git_branch"
  bs = "!. ~/.githelpers && pretty_git_branch_sorted"

[core]
  excludesfile = ~/.gitignore_global
  editor=vim

[push]
  default = simple

[branch]
	autosetuprebase = always
