# Ignore everything
*

# Whitelist certain files
!atom
!.gemrc
!.gitconfig
!.githelpers
!.gitignore
!.gitignore_global
!.oh-my-zsh
!.osx
!.sublime-settings
!.tmux.conf
!.tomorrow-theme
!.vim/
!.vim/*
!.vim/*/*
!.vimrc
!.zshrc

# Ignore more stuff
.vim/.netrwhist
.Rproj.user
