# Ignore everything
*

# Whitelist certain files
!.gitconfig
!.gitignore
!.gitignore_global
!.oh-my-zsh
!.osx
!.tomorrow-theme
!.vim/
!.vim/*
!.vim/*/*
!.vimrc
!.zshrc

# Ignore more stuff
.vim/.netrwhist
