[user]
	name = Shaun Haber
	email = srhaber@gmail.com
[color]
  ui = true
[alias]
  amend = commit --amend
	br = branch
	ci = commit
	co = checkout
  dc = diff --cached
  di = diff
  pom = push origin master
	st = status -sb

  # Logging aliases
  l    = "!source ~/.githelpers && pretty_git_log"
  la   = !git l --all
  head = !git l -1
  h    = !git head
  hp   = "!source ~/.githelpers && show_git_head"

[core]
	excludesfile = /Users/shaber/.gitignore_global
