[user]
	name = Shaun Haber
	email = srhaber@gmail.com
[color]
  ui = true
[alias]
  amend = commit --amend
	br = branch
	ci = commit
	co = checkout
  dc = diff --cached
  di = diff
  lg = log --oneline --decorate
  pom = push origin master
	st = status -sb
[core]
	excludesfile = /Users/shaber/.gitignore_global
